<!-- About 1 - Bootstrap Brain Component -->
<section class="aboutUs">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5 image">
                <img class="img-fluid rounded" loading="lazy" src="~/img/AboutUs.jpg" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h1 class="mb-3">Kim jesteśmy? Czym się zajmujemy?</h1>
                        <p class="greenColor lead fs-4 mb-3 ">ImportujAuto.pl to zgrany zespół osób pozytywnie zajaranych motoryzacją.</p>
                        <p class="mb-5">Połączyła nas pasja, dzięki której lecimy do przodu rozwijając się z roku na rok coraz bardziej. Import pojazdów z USA i Kanady rozpoczęliśmy już 8 lat temu. Bazując na naszym wieloletnim doświadczeniu w imporcie wybieramy na aukcjach egzemplarze, które nie przysporzą Wam problemów podczas procesu naprawy i rejestracji pojazdu.</p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5X">
                            <!--100% Zadowolonych klientów-->
                            <div class="col-12 col-md-6">
                                <div class="d-flex justify-content-center">
                                    <div class="counter-box colored">
                                        <i class="fa-regular fa-face-smile-beam"></i>
                                        <span class="counter procent-sign">100</span>
                                        <p>Zadowolonych klientów</p>
                                    </div>
                                </div>
                            </div>
                            <!--100+ sprowadzonych pojazdów-->
                            <div class="col-12 col-md-6">
                                <div class="d-flex justify-content-center">
                                    <div class="counter-box colored">
                                        <i class="fa-solid fa-car-rear"></i>
                                        <span class="counter plus-sign">100</span>
                                        <p>Sprowadzonych pojazdów</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Nie jesteśmy najwięksi ale dbamy najbardziej!-->
    <div class="container-fluid aboutBgc my-10 d-flex">
        <div class="row justify-content-md-end">
            <div class="col-lg-6 col-md-12 py-5 hidden">
                <h1 class="display-5 py-3">
                    Nie jesteśmy najwięksi, ale dbamy <span class="greenColor">NAJBARDZIEJ!</span>
                </h1>
                <p class="text-white textJustify">
                    Zawsze dbamy o interesy naszych Klientów zwracając uwagę na najdrobniejsze szczegóły. Kupując swój wymarzony samochód z pomocą naszego teamu możesz mieć pewność, że dołożymy wszelkich starań, żebyś jak najlepiej zainwestował swój budżet.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/img/charger.jpg" alt="..."></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left p-5">
                            <h2 class="greenColor mb-3">Skuteczni i na maxa zaangażowani</h2>
                            <p class="mb-0 text-white">Na każdym etapie importu jesteśmy do Waszej dyspozycji. Dostępni pod telefonem 24/7, zawsze odpowiadamy na pytania. Działamy szybko i skutecznie. Nasi Klienci przechodzą przez procedurę ze spokojem, ponieważ każdy etap jest przez nas objaśniony. Zajmujemy się wszystkim od A do Z od wyszukania odpowiedniego samochodu, przez licytację aż po sprowadzenie auta z USA wprost pod dom Klienta lub wybrany warsztat samochodowy. Podczas naprawy zawsze służymy też radą, polecamy warsztaty i specjalistów. Jesteśmy z Klientem aż do rejestracji samochodu, a czasem nawet dłużej. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 justify-content-center mb-10">
            <div class="col-lg-6"><img class="img-fluid" src="~/img/car2.jpg" alt="..."></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right p-5">
                            <h2 class="greenColor mb-3">Dlaczego warto sprowadzić samochód ze Stanów lub Kanady?</h2>
                            <p class="mb-0 text-white">Auto z Ameryki to przede wszystkim udokumentowany przebieg oraz historia pojazdu. Na życzenie Klienta do każdego samochodu jesteśmy w stanie wygenerować raport carfax. Dzięki importowi zyskujesz ogromny wybór pojazdów bogato wyposażonych w atrakcyjnych cenach. Rozpoczęcie współpracy z nami jest całkowicie bezpieczne i nic nie kosztuje. Zadzwoń/napisz i zapytaj o darmową wycenę wymarzonego samochodu z Kanady lub Stanów Zjednoczonych. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>