<!--Section: Contact v.2-->
<section class="contact">
    <div class="container d-flex justify-content-center">
        <div class="contact-form">
            <h2 class="h1-responsive font-weight-bold text-center mb-4">Kontakt</h2>
            <p class="text-center w-responsive mx-auto mb-5">
                Jeżeli masz jakiekolwiek pytania, jesteśmy do Twojej dyspozycji 24/7. Wyślij nam wiadomość poprzez formularz lub zadzwoń na poniższy numer. Odpowiemy na wszystkie twoje pytania.
            </p>
            <div class="row justify-content-center">
                <!--<div class="col-md-6 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="~/php/mail.php" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="name" class="">Imię</label>
                                        <input type="text" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="email" class="">Email</label>
                                        <input type="text" id="email" name="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <label for="subject" class="">Temat</label>
                                        <input type="text" id="subject" name="subject" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <label for="message">Treść</label>
                                        <textarea type="text" id="message" name="message" rows="5" class="form-control md-textarea"></textarea>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="text-center text-md-left mt-3">
                            <a class="btn btn-primary btn-contact" onclick="validateForm();">Wyślij</a>
                        </div>
                        <div class="status"></div>
                    </div>-->
                    <div class="col-md-12 text-center d-flex justify-content-center align-items-center">
                        <ul class="list-unstyled mb-0 contact-icons">
                            <li>
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                <p>Kosina 441, Kosina, Poland</p>
                            </li>

                            <li>
                                <i class="fas fa-phone fa-2x"></i>
                            <a href="tel:887732726" class="contact-link"><p>887 732 726</p></a>
                            </li>

                            <li>
                                <i class="fas fa-envelope fa-2x"></i>
                            <a href="mailto:kontakt@importujauto.pl" class="contact-link"><p>kontakt@importujauto.pl</p></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
