<section class="ImportSteps">
    <div class="container">
        <h1 class="text-center">Tylko 5 kroków dzieli Cię od wymarzonego samochodu!!!</h1>
        <div class="process-wrapper">
            <div id="progress-bar-container">
                <ul>
                    <li class="step step01 active import-step"><div class="step-inner">Krok I</div></li>
                    <li class="step step02 import-step"><div class="step-inner">Krok II</div></li>
                    <li class="step step03 import-step"><div class="step-inner">Krok III</div></li>
                    <li class="step step04 import-step"><div class="step-inner">Krok IV</div></li>
                    <li class="step step05 import-step"><div class="step-inner">Krok V</div></li>
                </ul>

                <div id="line">
                    <div id="line-progress"></div>
                </div>
            </div>

            <div id="progress-content-section">
                <div>
                    <a class="carousel-control-prev" role="button" data-slide="prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </div>

                <div class="section-content discovery active">
                    <h2>OMÓWIENIE SZCZEGÓŁÓW I POSZUKIWANIE ODPOWIEDNIEGO POJAZDU</h2>
                    <p>
                        W tym etapie najpierw przeprowadzamy wstępny wywiad z Klientem odnośnie jego potrzeb i wymagań dotyczących poszukiwanego pojazdu. Następnie przesyłamy przykładowe egzemplarze i wyceniamy te wybrane przez Klienta. Każdy egzemplarz analizujemy pod kątem dokumentacji potrzebnej do rejestracji pojazdu na terenie PL oraz bazując na naszym wieloletnim doświadczeniu staramy się wybrać auta, których naprawa nie będzie dla Klietna dużym problemem.
                    </p>
                    <div class="row section-content-important">
                        <div class="col-md-5 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>To ty decydujesz o ostatecznym budżecie w jakim licytujemy wybrany samochód.</p>
                        </div>
                        <div class="col-md-5 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>Poszukiwanie egzemplarzy i przygotowanie wycen jest całkowice bezpłatne i do niczego nie zobowiązuje.</p>
                        </div>
                    </div>
                </div>

                <div class="section-content strategy">
                    <h2>LICYTACJA POJAZDÓW</h2>
                    <p>Dlaczego "pojazdów"? Dlatego że zwykle musimy podjąć kilka prób licytacji zanim uda nam się w określonym budżecie wygrać dane auto. W tym etapie nadal na bieżąco wysyłamy propozycje, wyceniamy wskazane egzemplarze i umawiamy się na licytacje.</p>
                    <div class="row section-content-important">
                        <div class="col-md-3 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>Próby licytacji są zawsze darmowe, nie pobieramy również zaliczek!</p>
                        </div>
                        <div class="col-md-8 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>Po wygranej licytacji Klient zobowiązany jest uiścić opłatę za samochód i usługi importowe świadczone w USA już następnego dnia roboczego. Dlatego warto już wcześniej przygotować w banku rachunek w USD, żeby uniknąć przewalutowania.</p>
                        </div>
                    </div>
                </div>

                <div class="section-content creative">
                    <h2>OCZEKIWANIE</h2>
                    <p>Import wymaga od naszych Klientów sporych pokładów zaufania i cierpliwości. Po wygranej licytacji i zrealizowaniu przez Klienta płatności odbieramy auto z placu aukcyjnego i transportujemy je do portu. Nasz broker koordynuje dalej cały proces. Zleca wykonanie zdjęć, które wysyłamy Klientom przed załadunkiem i rezerwuje kontener. Po załadunku samochód rusza w długą drogę do Europy, która przy "pomyślnych wiatrach" trwa 2-3 miesiące.</p>
                    <div class="row section-content-important">
                        <div class="col-md-11 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>Pamiętaj, że droga morska z USA do Europy jest bardzo długa. Zawsze dokładamy wszelkich starań, żeby jak najszybciej dostarczyć Klientom ich wyczekiwane auta, ale są rzeczy, na które nie mamy wpływu, a które mogą wydłużyć lekko czas transportu.</p>
                        </div>
                    </div>
                </div>

                <div class="section-content production">
                    <h2>ROZŁADUNEK W NIEMCZECH I W DROGĘ DO POLSKI!</h2>
                    <p>Żwykle rozładowujemy i climy samochody naszych Klientów w Niemczech. Po ocleniu przesyłamy do opłacenia fakturę z agencji celnej (w EUR) i organizujemy transport na wkazany adre w Polsce. Za przejazd logrą Klient płaci bezpośrednio kierowcy z firmy transportowej.</p>
                    <div class="row section-content-important">
                        <div class="col-md-6 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>PRO TIP: w tym przypadku również warto założyć w banku subkonto walutowe w EUR i w ten sposób uniknąć przewalutowania!</p>
                        </div>
                    </div>
                </div>

                <div class="section-content analysis">
                    <h2>AUTO JUŻ NA MIEJSCU I CO DALEJ?</h2>
                    <p>Auto już dostarczone. Pozostaje nam tylko przekazać Klientowi dokumenty potrzebne do rejestracji samochodu, ale to nie znaczy, że nasz Klient nie może już liczyć na pomoc. Na życzenie organizujemy zawsze opinię rzeczoznawcy oraz tłumaczenia przysięgłe dokumentów importowych. Klientowi pozostaje tak naprawdę opłacenie akcyzy i naprawa samochodu.</p>
                    <div class="row section-content-important">
                        <div class="col-md-11 col-sm-12 section-content-important-example">
                            <i class="fa-regular fa-lightbulb"></i><p>W razie potrzeby pomożemy również przy składaniu wniosku akcyzowego. Polecimy sprawdzone warsztaty w okolicy Rzeszowa. Wyjaśnimy dokładnie krok po kroku czego będziemy potrzebować przy rejestracji w Wydziale Komunikacji.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="carousel-control-next next" role="button" data-slide="next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>