<section class="gallery-block cards-gallery">
	<div class="container">
		<div class="heading">
			<h2>Cards Gallery</h2>
		</div>
		<div class="row">
			@*Car 1*@
			<div class="col-md-6 col-lg-4">
				<div class="card border-0 transform-on-hover">
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image1.webp">
						<img src="../img/offer/Audi Q5 Premium Plus Quatro/image1.webp" alt="Card Image" class="card-img-top">
					</a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image2.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image3.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image4.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image5.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image6.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image7.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image8.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image9.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image10.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image11.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image12.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image13.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image14.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image15.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image16.webp"></a>
					<a class="lightbox" href="../img/offer/Audi Q5 Premium Plus Quatro/image17.webp"></a>
					<div class="card-body">
						<h6>Audi Q5 Premium Plus Quattro</h6>
						<ul class="car-info justify-content-center">
							<li><span>2015</span></li>
							<li><span>Benzyna automat</span></li>
							<li><span>silnik 2.0</span></li>
							<li><span>117700km</span></li>
						</ul>
						<p class="text-muted card-text">
							Na sprzedaż nasz prywatny samochód - Audi Q5 dopieszczone w każdym detalu. Dlaczego warto wybrać właśnie ten samochód? Niezawodny napęd quattro zdecydowanie na plus. Posiada fantastyczne nagłośnienie Bang&Olufsen. Super sprawdza się na trasie. Jest mega wygodny i bardzo zadbany. Zapraszamy do kontaktu w celu umówienia oględzin.
						</p>
						<h6 class="offer-price">Cena: 77000zł</h6>
					</div>
				</div>
			</div>
			@*Car 2*@
			<div class="col-md-6 col-lg-4">
				<div class="card border-0 transform-on-hover">
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image1.webp">
						<img src="../img/offer/Volvo s90 Inscription T6 AWD/image1.webp" alt="Card Image" class="card-img-top">
					</a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image2.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image3.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image4.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image5.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image6.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image7.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image8.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image9.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image10.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image11.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image12.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image13.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image14.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image15.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image16.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image17.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image18.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image19.webp"></a>
					<a class="lightbox" href="../img/offer/Volvo s90 Inscription T6 AWD/image20.webp"></a>
					<div class="card-body">
						<h6>Volvo s90 Inscription T6 AWD</h6>
						<ul class="car-info justify-content-center">
							<li><span>2018</span></li>
							<li><span>Benzyna automat</span></li>
							<li><span>silnik 2.0</span></li>
							<li><span>53000km</span></li>
						</ul>
						<p class="text-muted card-text">Na sprzedaż nasz prywatny samochód - gotowe do jazdy Volvo s90. Samochód przez 4 lata jeździł w PL. Bogate wyposażenie i komfortowe fotele gwarantują wyjątkowo wygodną jazdę co mieliśmy okazje przetestować na kilku tripach. Samochod jest zadbany, doinwestowany, świetnie nam służył i mamy nadzieje, że posłuży teraz dobrze komuś innemu. Utrzymaliśmy go w bdb stanie technicznym i wizualnym. Jego plusem jest również niewielki przebieg. Kilka fajnych bajerów w tym aucie to między innymi: Masaż, Headup, Wentylowane/grzane fotele, Aktywny tempomat, Radar, Rozpoznawanie znaków, Asystent pasa ruchu, Czujniki parkowania, Kamera 360, Kamera  cofania, Blisy. Skontaktuj się z nami w celu umówienia oględzin.</p>
						<h6 class="offer-price">Cena: 125000zł</h6>
					</div>
				</div>
			</div>
			@*Car 3*@
			<div class="col-md-6 col-lg-4">
				<div class="card border-0 transform-on-hover">
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image1.webp">
						<img src="../img/offer/Dodge Durango 2020 GT/image1.webp" alt="Card Image" class="card-img-top">
					</a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image2.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image3.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image4.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image5.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image6.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image7.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image8.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image9.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image10.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image11.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image12.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image13.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image14.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image15.webp"></a>
					<a class="lightbox" href="../img/offer/Dodge Durango 2020 GT/image16.webp"></a>
					<div class="card-body">
						<h6>Dodge Durango 2020 GT, 4x4</h6>
						<ul class="car-info justify-content-center">
							<li><span>2020</span></li>
							<li><span>Benzyna automat</span></li>
							<li><span>silnik 3.6</span></li>
							<li><span>80000km</span></li>
						</ul>
						<p class="text-muted card-text">Gotowy do jazdy - dostępny od ręki. Wspaniały rodzinny 7osobowy Suv od Dodge. Przestronny, komfortowy samochod z silnikiem nadającym się pod instalacje LPG. Zapraszamy zainteresowane osoby do kontaktu i do obejrzenia samochodu. </p>
						<h6 class="offer-price">Cena: 135000zł</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/baguettebox.js@1.11.1/dist/baguetteBox.min.js"></script>
<script>
	baguetteBox.run('.card', { animation: 'slideIn' });
</script>
